/* COLORS */
/*
$primary: #79AEC8;
$secondary: #FEFEFD;
$tertiary: #EEF0EA;
$quarternary: #417690;
$warning: #F5DD5D;
$danger: #B03D36;
*/

/* EARTH
$primary: rgba(224, 224, 226, 1);
$secondary: rgba(224, 203, 168, 1);
$quarternary: rgba(119, 166, 182, 1);
$tertiary: rgba(179, 106, 94, 1);
$warning: rgba(229, 125, 94, 1);
$danger: #B03D36;
*/

/* MODERN
$quarternary: rgba(35, 120, 69, 1);
$tertiary: rgba(141, 180, 162, 1);
$secondary: rgba(213, 223, 229, 1);
$primary: rgba(201, 177, 189, 1);
/*$warning: rgba(245, 230, 209, 1);*/


/* TEST
$primary: #4BC6B9;
$secondary: #73C1C6;
$tertiary: #96C3CE;
$quarternary: #A79AB2;*/

/* TEST 2 */
$primary: rgba(48, 126, 153, 1);
$secondary: rgba(86, 155, 177, 1);
$tertiary: rgba(253, 251, 249, 1);
$quarternary: rgba(253, 213, 173, 1);
$grey: #7D7D7C;
$warning: #FFD586;
$danger: #FA3E4C;

/* FONTS */
$main-font: 'Roboto', sans-serif;
$heading-font: 'Oswald', sans-serif;
$brand-font: 'Titillium Web', sans-serif;

$small-breakpoint: 576px;
$medium-breakpoint: 768px;
$large-breakpoint: 1200px;

%widget-shadow {
  -webkit-box-shadow: 2px 2px 12px -10px rgba(0,0,0,0.6);
  -moz-box-shadow: 2px 2px 12px -10px rgba(0,0,0,0.6);
  box-shadow: 2px 2px 12px -10px rgba(0,0,0,0.6);
}

.dark {
  background-color: $quarternary;
}

.light {
  background-color: $primary;
}

.warning {
  color: $warning
}

%danger {
  color: $danger
}
.danger {
  @extend %danger;
}
.error-messages {
  @extend %danger;
}
