input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.settings-form {
  width: 40%;
  margin-left: 30%;

  h1 {
    text-align: center;
    margin: 20px 0px;
  }

  button {
    margin-top: 20px;
    float: right;
  }
    
  .success {
        color: green;
        text-align: center;
      
  }
}

