input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

%centered-form {
    width: 40%;
    margin-left: 30%;
    
    button {
        margin-top: 20px;
        float: right;
    }
    
    h1 {
        text-align: center;
        margin: 20px 0px;
    }
}

.settings-form {
  @extend %centered-form;
 
  .success {
        color: green;
        text-align: center;
      
  }
}

.company-create-form {
    @extend %centered-form;
    
}