@import 'base';

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

%centered-form {
    width: 40%;
    margin-left: auto;
    margin-right: auto;

    button {
        margin-top: 20px;
        float: right;
    }

    h1 {
        text-align: center;
        margin: 20px 0px;
    }
}

legend {
  font-size: 1.2rem;
  border-bottom: .05em solid rgba(0,0,0,0.2);
  margin-bottom: 2%;
}

.success {
  color: green;
  text-align: center;
}
.list-errors {
  list-style-type: none;
  text-align: left;
  color: $danger;
  padding-left: 1%;
  margin-bottom: 5px;
}

.company-create-form {
    @extend %centered-form;

}

.centered-form {
  @extend %centered-form;
}


.login {
  text-align: center;

  button {
    margin-bottom: 5rem;
  }

  form, ul {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }

}



.form-factory {
  &__header {
    margin-bottom: 10px;
    h3 {
      display: inline-block;
    }

    button {
      float: right;
    }
  }

  legend {
    font-size: 1.2rem;

    .factory__remove-button {
      position: relative;
      float: right;
      display: inline-block;
    }
  }
  .factory__add-button {
    position: relative;
    float: right;
  }
}
// MEDIUM SCREEEN CSS
@media (max-width: $medium-breakpoint) {
  .login {
    form, ul {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
