@import 'base';

/* RESPONSIVE FLEX GRID */

/* CONTAINERS */
%column {
  display: flex;
  flex-direction: column;
}

.column {
  @extend %column;
}

.column__spaced__rows {
  @extend %column;
  height: 100%;
  justify-content: space-between;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  flex-flow: row wrap;
}
.left {
  justify-content: flex-start;
}

.centered {
  justify-content: center;
}

.right {
  justify-content: flex-end;
}

/* ITEMS */
.start {
  align-self: flex-start;
}
.end {
  align-self: flex-end;
}


// Large
@for $i from 1 through 12 {
  .large-#{$i} {
    flex: $i*100%/12;
    max-width: $i*100%/12;
    padding: 2%;
  }
}

.hide-for-large {
  display: none !important;
}

// Medium
@media (max-width: $medium-breakpoint) {
  @for $i from 1 through 12 {
    .medium-#{$i} {
      flex: $i*100%/12;
      max-width: $i*100%/12;
    }
  }
  .hide-for-medium {
    display: none !important;
  }
}
//Small
@media (max-width: $small-breakpoint) {
  @for $i from 1 through 12 {
    .small-#{$i} {
      flex: $i*100%/12;
      max-width: $i*100%/12;
    }
  }

  .hide-for-small {
    display: none !important;
  }
}
