@import 'base';
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: $grey;
  background-color: #F1F1F1; //rgb(240, 240, 240);
  margin: 0%;
  font-family: 100% $main-font;
  direction: ltr;
}

h1, h2 {
  font-family: $heading-font;
  font-weight: 800;
}

h3, h4, h5 {
  font-family: $main-font;
  font-weight: bold;
}

button {
  cursor: pointer;
  border: none;
  background-color: inherit;

}

a {
  color: white;
  cursor: pointer;
  text-decoration: none;
  font-family: $main-font;
  display: inline;
}

ul, ol {
  list-style-position: outside;
}

main {
  padding-top: 40px;
  padding-bottom: 40px;
  min-height: 800px;
}

.spinner-lg {
  font-size: 3rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.not-found {
  grid-column: 2;
  text-align: center;
  min-height: 400px;
  padding: 200px;
}

.btn {
  &-primary {
    background-color: $primary !important;
    border-color: $primary !important;
  }
  &-outline-primary {
    color: $primary !important;
    border-color: $primary !important;
  }
}

.active_tab {
    border-bottom: 3px green solid;
}

.app {
  max-width: 76.5rem;
  padding: 0 0.75rem;
  margin-left: auto;
  margin-right: auto;
}

.page-container {
  min-height: 800px;
  padding: 1rem;

  a {
    color: $grey !important;
    display: inline;
  }

    table {
        color: black;

        a {
            color: black !important;
        }
    }
 h1 {
   padding-left: 2%;
 }
}

.widget-container {
  margin-left: auto;
  margin-right: auto;
}

.widget {
  background-color: $tertiary;
  color: $grey;
  line-height: 35px;
  padding: 2%;
  margin-bottom: 2rem;

  @extend %widget-shadow;

  &__header {
    color: black;
    border-bottom: .05em solid rgba(0,0,0,0.2);
    padding-bottom: 2%;
    text-overflow: ellipsis;
    overflow: hidden;

    h2 {
      font-size: 1.5rem;
      display: inline-block;
    }

    .action-button {
      position: relative;
      float: right;
      font-size: 1.25rem;
    }
  }

  &__content {
    margin-top: 2%;

  }
}
