@import 'base';

div .sidebar {
  background-color: $secondary;
  color: white;
  z-index: 1;
  overflow: scroll;
  transition: width .4s ease-in-out;

  &-active {
    /*display: block;*/
    width: 200px;
  }

  &-hidden {
    display: none;
    width: 0%;

  }
  &-item {
    display: block;
    padding: 10px;
    width: 100%;
    font-weight: 800;
  }
  &-item:hover {
    background-color: white;
    color: $secondary;
    text-decoration: none;
  }

}

div .sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-height: 300px) {
   #sidebar ul{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
}

%sidebar-toggle__button {
  color: $tertiary;
  background-color: $primary;
  font-size: 36px;
  height: 120px;
  width: 120px;
  border-radius: 60px;
  position: fixed;
  margin-top: 25%;
  z-index: 2;
  transition: margin-left .4s;
}
#sidebar-toggle__button--active {
  @extend %sidebar-toggle__button;
  margin-left: 14%;
}

#sidebar-toggle__button--hidden {
  @extend %sidebar-toggle__button;
  margin-left: -50px;
}
